.entry-field {
  width: 75%;
}

.is-text-centered {
  text-align: center;
}

.entry-footer {
  font-size: 75%;
}

.title-text {
  font-size: 200%;
  padding: 10px 0 30px 0;
  letter-spacing: 2px;
  width: 100%;
}

.padded-10 {
  min-width: 350px;
}
