<div style="text-align: center">
  <mat-dialog-content>
    <h2 mat-dialog-title>{{this.facility}}</h2>
    <h4 *ngIf="(this.pin === '')">Please enter your User or Admin PIN:</h4>
    <h4 *ngIf="(this.pin !== '')">{{this.pin}}</h4>
    <div>
      <div>
        <button class="mat-fab entry-button" (click)="add(7)">7</button>
        <button class="mat-fab entry-button" (click)="add(8)">8</button>
        <button class="mat-fab entry-button" (click)="add(9)">9</button>
      </div>
      <div>
        <button class="mat-fab entry-button" (click)="add(4)">4</button>
        <button class="mat-fab entry-button" (click)="add(5)">5</button>
        <button class="mat-fab entry-button" (click)="add(6)">6</button>
      </div>
      <div>
        <button class="mat-fab entry-button" (click)="add(1)">1</button>
        <button class="mat-fab entry-button" (click)="add(2)">2</button>
        <button class="mat-fab entry-button" (click)="add(3)">3</button>
      </div>
      <div>
        <button class="mat-fab entry-button" (click)="clear()">Clear</button>
        <button class="mat-fab entry-button" (click)="add(0)">0</button>
        <button class="mat-fab entry-button">#</button>
      </div>
      <br>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="button-ribbon">
    <button class="mat-button mat-raised-button mat-warn" mat-dialog-close>Log-Out</button>
    <button class="mat-button mat-raised-button mat-primary" mat-dialog-close>Submit</button>
  </mat-dialog-actions>
</div>
