<div fxLayout="row" style="width:100%;" fxFlexAlign="center stretch" class="is-text-centered">
  <div fxFlex></div>
  <div class="padded-10" fxFlex>
    <mat-card>
      <div class="title-text">Sign In</div>
      <mat-card-content>
        <form class="entry-form-field">
          <mat-form-field class="entry-field">
            <input matInput type="password" placeholder="New Password" [formControl]="passwordNewFormControl" [(ngModel)]="new_password">
            <mat-error *ngIf="passwordNewFormControl.hasError && !passwordNewFormControl.hasError('required')">
              Password must be longer than 8 characters
            </mat-error>
            <mat-error *ngIf="passwordNewFormControl.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="entry-field">
            <input matInput type="password" placeholder="Verify Password" [formControl]="passwordVerifyFormControl" [(ngModel)]="verify_password">
            <mat-error *ngIf="passwordVerifyFormControl.hasError && !passwordVerifyFormControl.hasError('required')">
              Password must be longer than 8 characters
            </mat-error>
            <mat-error *ngIf="passwordVerifyFormControl.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="onSubmit()">Submit</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex></div>
</div>
