<mat-sidenav-container>

  <mat-sidenav #sidenav mode="push">
    <div class="header">
      <span>Angular Starter</span>
    </div>
  </mat-sidenav>

  <mat-sidenav-content fxLayout="column">

    <mat-toolbar color="primary">
      <button mat-icon-button [fxHide.gt-sm]="true" (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>

      <span routerLink="" [fxHide.gt-sm]="true" class="spacer text-center">
                NarcAudit
            </span>
      <span routerLink="" [fxHide.lt-md]="true" class="spacer">
                NarcAudit | Narcotics Inventory Management
            </span>

      <span [fxHide.lt-md]="true">
                <button mat-button class="nav-button" *ngIf="authService.loggedIn()" [routerLink]="['/dashboard']"
                        routerLinkActive="active">Dashboard</button>
                <button mat-button class="nav-button" [routerLink]="['/examples']"
                        routerLinkActive="active">Examples</button>
                <button mat-button class="nav-button" [routerLink]="['faqs']" routerLinkActive="active">FAQs</button>
            </span>

      <button mat-button class="sign-in-button" *ngIf="!authService.loggedIn()" [routerLink]="['/login']"
              routerLinkActive="active">Sign In
      </button>
      <button mat-button class="sign-in-button" *ngIf="authService.loggedIn()" (click)="authService.logout()">Log Out</button>
    </mat-toolbar>

    <!--
    <div fxFlex fxLayout="column" fxFlexAlign="center none">
        <div fxFlex>
            <div fxLayout="row" style="height:100%;" fxFlexAlign="center stretch">
                <div fxFlex="20" class="temp-side"><h2>LEFT</h2></div>
                <router-outlet></router-outlet>
                <div fxFlex="20" class="temp-side"><h2>RIGHT</h2></div>
            </div>
        </div>
    </div>
    -->

    <!-- TODO: remove inline style -->

    <div fxFlex fxLayout="column" fxFlexAlign="center none">
      <div fxFlex>
        <div fxLayout="row" style="height:100%;" fxFlexAlign="center stretch">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

    <div fxFlex="15" class="temp-bottom"><h2>FOOTER</h2></div>

  </mat-sidenav-content>

</mat-sidenav-container>
